.btn-container{
    display: flex;
    justify-content: space-evenly;
}
.round-btn{/* replaced text color with class */
    border-radius: 12px !important;
}
.searchBar{/* replaced background and text color with class */
    border-radius: 17px;
}
.searchBtn{
    border-top-right-radius: 17px !important;
    border-bottom-right-radius: 17px !important;
}
