<div class="container-blue bg-primary-dark">	<!--background color class-->
	<div class="p-3">
		<div class="form-row no-gutters justify-content-center " dir="ltr">
			<div class="input-group mb-4 col-12 col-md-6 col-lg-4">
        <input class="searchBar form-control border-white" 
        type="text" 
        aria-label="Search" 
        [(ngModel)]="searchString" 
        (keydown.enter)="search()" 
        i18n-placeholder placeholder="Search resources...">
        <div class="input-group-prepend">
					<button class="searchBtn btn btn-light text-white border-white" id="basic-addon2" (click)="search()">
					<i class="fa fa-search text-primary-dark"></i></button>
				</div><!--text and border color class-->
      </div>
    </div>
    <!-- <div class="btn-container row">text color class -->
    <div class="row"><!--text color class-->
    <!-- <a i18n="advancedsearchlbl@@advancedsearchlbl" [hidden] = "hideLink" routerLink="/search-list" class="adv-srch text-white">Advanced Search</a> -->
     <div class="offset-md-2 offset-lg-3 offset-xl-4 col-6 col-md-4 col-lg-3 col-xl-2 text-center">
      <a i18n="advanvedsearchlbl@@advancedsearchlbl" class="round-btn btn btn-light" style="min-width: 174px;" routerLink="/new-to-spell">New To SolarSPELL?</a>
     </div>
     <div class="col-6 col-md-4 col-lg-3 col-xl-2 text-center">
      <a i18n="newToSpellLabel@@newToSpellLabel" class="round-btn btn btn-light" style="min-width: 150px;" routerLink="/search-list">Advanced Search</a>
     </div>
    </div>
	</div>		
	</div>
