<!-- For the hybrid library 3 builds must be made, 1 for each library. -->
<app-loading-indicator></app-loading-indicator>
<div i18n-dir dir="ltr">
    <div class="navbar-style bg-primary-dark text-active-sunglow">
        <div class="container"  i18n-dir dir="ltr">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" [routerLink]="['/']">
                    <img src="/assets/static/logo_full.png" class="logo-responsive">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button> 
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Library
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="http://10.10.10.10/" >Education Library</a>
                                <a class="dropdown-item" href="http://10.10.10.10/ag" >Agriculture Library</a> 
                                <a class="dropdown-item" href="http://10.10.10.10/health" >Health Library</a>
                            </div>
                        </li>
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a i18n="menuHome@@menuHome" class="nav-link text-white" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                        </li>
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a i18n="menuIndex@@menuIndex" class="nav-link text-white" [routerLink]="['/index']" routerLinkActive="active">Index</a>
                        </li>
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a i18n="menuAboutus@@menuAboutus" class="nav-link text-white" [routerLink]="['/about']" routerLinkActive="active">About us</a>
                        </li>                    
                    </ul>              
                </div>
            </nav>
        </div>
    </div>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>
