<section class="banner"><div class="banner-title-wrapper"><h1 class="banner-title">Welcome to SolarSPELL</h1></div></section>
<div class="container-fluid bg-white text-black" ><!--text color class-->
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <div class="row">
                <div class="col page-description">
                   <p>Welcome to SolarSPELL, here you can follow the videos to understand how to navigate the library</p> 
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col section-header">
                            <h3>How to use SolarSPELL</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 video-container mb-4">
                            <div class="row">
                                <div class="col-12 col-md-10 col-lg-8 col-xl-6 offset-md-1 offset-lg-2 offset-xl-3">
                                    <video class="embed-responsive-item video-fluid z-depth-1 bg-black" width="100%" controls>
                                        <source src="/assets/static/about-us.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-xl-4 video-container">
                            <video class="embed-responsive-item video-fluid z-depth-1 bg-black" controls>
                                <source src="/assets/static/about-us.mp4" type="video/mp4">
                            </video>
                            <p>video description</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-4 video-container">
                            <video class="embed-responsive-item video-fluid z-depth-1 bg-black" controls>
                                <source src="/assets/static/about-us.mp4" type="video/mp4">
                            </video>
                            <p>video description</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-4 video-container">
                            <video class="embed-responsive-item video-fluid z-depth-1 bg-black" controls>
                                <source src="/assets/static/about-us.mp4" type="video/mp4">
                            </video>
                            <p>video description</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col section-header">
                            <h3>Navigate Search Bar</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-xl-4 video-container">
                            <video class="embed-responsive-item video-fluid z-depth-1 bg-black" controls>
                                <source src="/assets/static/about-us.mp4" type="video/mp4">
                            </video>
                            <p>video description</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-4 video-container">
                            <video class="embed-responsive-item video-fluid z-depth-1 bg-black" controls>
                                <source src="/assets/static/about-us.mp4" type="video/mp4">
                            </video>
                            <p>video description</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-4 video-container">
                            <video class="embed-responsive-item video-fluid z-depth-1 bg-black" controls>
                                <source src="/assets/static/about-us.mp4" type="video/mp4">
                            </video>
                            <p>video description</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-4 video-container">
                            <video class="embed-responsive-item video-fluid z-depth-1 bg-black" controls>
                                <source src="/assets/static/about-us.mp4" type="video/mp4">
                            </video>
                            <p>video description</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col section-header">
                            <h3>Navigate subjects in Learning Module</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-xl-4 video-container">
                            <video class="embed-responsive-item video-fluid z-depth-1 bg-black" controls>
                                <source src="/assets/static/about-us.mp4" type="video/mp4">
                            </video>
                            <p>video description</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-4 video-container">
                            <video class="embed-responsive-item video-fluid z-depth-1 bg-black" controls>
                                <source src="/assets/static/about-us.mp4" type="video/mp4">
                            </video>
                            <p>video description</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-4 video-container">
                            <video class="embed-responsive-item video-fluid z-depth-1 bg-black" controls>
                                <source src="/assets/static/about-us.mp4" type="video/mp4">
                            </video>
                            <p>video description</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-4 video-container">
                            <video class="embed-responsive-item video-fluid z-depth-1 bg-black" controls>
                                <source src="/assets/static/about-us.mp4" type="video/mp4">
                            </video>
                            <p>video description</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="stc-link offset-1 offset-md-2 offset-lg-3 offset-xl-4 col-10 col-md-8 col-lg-6 col-xl-4 video-container">
                    <div class="row align-items-center">
                        <div class="col-6 p-4">
                            <img width="100%" src="assets/images/STC_icon.png">
                        </div>
                        <div class="col-6 center-text pl-0">
                            <a href="#"><p class="m-0">Click here for more SolarSPELL Training</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- container -->
