.info-style {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(212,212,212,1) !important;
    -moz-box-shadow: 0px 0px 5px 0px rgba(212,212,212,1) !important;
    box-shadow: 0px 0px 5px 0px rgba(212,212,212,1) !important;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px !important;
}
.info-style p {
    margin: 0;
}
.index-wrapper {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.toggle-children-icon {
    transform: rotate(90deg);
    background-image: url('/assets/images/icons/blue_triangle.svg');
    background-size: contain;
    background-position: center;
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    top: 2px;
}

.instruction-text-wrapper {
    text-align: center;
}

.instruction-text {
    background-color: lightblue;
    display: inline-block;
    border-radius: 1rem;
    padding-inline: 1rem;
}

.banner{
    height: 250px;
    background-image: url(/assets/images/banners/LibraryApp-Index-banner1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-title {
    display: table-cell; 
    vertical-align: middle;
    color: white;
}

.banner-title-wrapper{
    height: 100%;
    width: 100%;
    text-align: center;
    display: table;
}